# ─── Scripts de utilidad, solo ejecuta setupp.php ───
crear_admin.php
run_migration.php
seed_grados.php
test_conexion.php

*.log
*.cache

.DS_Store
Thumbs.db
desktop.ini

#IDEs y editores
.vscode/
.idea/
*.suo
*.user
